<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crtb.tunnelmonitor.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="9" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.crtb.tunnelmonitor.AppCRTBApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.crtb.tunnelmonitor.activity.SelecActivity"
            android:label="@string/app_name"
            android:noHistory="true"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.crtb.tunnelmonitor.activity.LoginActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.MainActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.AsregardsActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.ServersActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.RecordActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.RecordNewActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.RecordNewSubsidenceActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.WarningActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.HandlingDetailsActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.WorkActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.WorkNewActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.SectionActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.SectionNewActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.SectionNewSubsidenceActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.TotalStationActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.ControlPointsActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.ControlNewActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.ControlNewActivityTwo" />
        <activity android:name="com.crtb.tunnelmonitor.activity.TestRecordActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.TestSectionExecuteActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.SectionEditActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.StationActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.WarningUploadActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.WorkInfoDownloadActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.ReviewWarningActivity" />

        <activity android:name="com.crtb.tunnelmonitor.activity.TotalStationNewBluetoothActivity"/>
        <!-- <activity android:name="com.crtb.tunnelmonitor.activity.ControlNewActivity"/> -->
        <activity android:name="com.crtb.tunnelmonitor.activity.ControlxgActivity" />
        <activity android:name="com.crtb.tunnelmonitor.activity.SoftwareInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.crtb.tunnelmonitor.activity.RegisterActivity" >
        </activity>
        <activity android:name="com.crtb.tunnelmonitor.activity.UserInfoActivity" >
        </activity>
        <activity android:name="com.crtb.tunnelmonitor.activity.TesterLoadActivity"
            android:noHistory="true" >
        </activity>
        <activity android:name="com.crtb.tunnelmonitor.activity.UserBookActivity" >
        </activity>
        <activity android:name="com.crtb.tunnelmonitor.activity.ServerSettingActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity android:name="com.crtb.tunnelmonitor.activity.DataUploadActivity">
        </activity>
        <activity android:name="com.crtb.tunnelmonitor.activity.SoftwareUpdateActivity" >
        </activity>
    </application>

</manifest>